@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html[data-theme="light"] {
    --color-fill: 251, 248, 241;
    --color-text-base: 37, 36, 34;
    --color-accent: 203, 54, 0;
    --color-card: 230, 230, 230;
    --color-card-muted: 204, 197, 185;
    --color-border: 64, 61, 57;
    --color-toast-success-bg: 240, 253, 244;
    --color-toast-success-border: 187, 247, 208;
    --color-toast-success-icon: 34, 197, 94;
    --color-toast-error-bg: 254, 242, 242;
    --color-toast-error-border: 254, 202, 202;
    --color-toast-error-icon: 239, 68, 68;
    --color-toast-info-bg: 239, 246, 255;
    --color-toast-info-border: 191, 219, 254;
    --color-toast-info-icon: 59, 130, 246;
  }
  html[data-theme="dark"] {
    --color-fill: 21, 54, 54;
    --color-text-base: 234, 237, 243;
    --color-accent: 215, 171, 255;
    --color-card: 82, 115, 115;
    --color-card-muted: 129, 173, 173;
    --color-border: 215, 171, 255;
    --color-toast-success-bg: 34, 85, 85;
    --color-toast-success-border: 129, 173, 173;
    --color-toast-success-icon: 129, 230, 230;
    --color-toast-error-bg: 85, 34, 34;
    --color-toast-error-border: 173, 129, 129;
    --color-toast-error-icon: 255, 171, 171;
    --color-toast-info-bg: 34, 54, 85;
    --color-toast-info-border: 129, 173, 215;
    --color-toast-info-icon: 171, 215, 255;
  }
  #sun-svg,
  html[data-theme="dark"] #moon-svg {
    display: none;
  }
  #moon-svg,
  html[data-theme="dark"] #sun-svg {
    display: block;
  }
  body {
    @apply flex min-h-[100svh] flex-col bg-skin-fill font-mono text-skin-base 
    selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted;
  }
  section,
  footer {
    @apply mx-auto max-w-3xl px-4;
  }
  a {
    @apply outline-2 outline-offset-1 outline-skin-fill 
    focus-visible:no-underline focus-visible:outline-dashed;
  }
  svg {
    @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent;
  }
  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent 
    stroke-current stroke-2 opacity-90 group-hover:fill-transparent 
    sm:scale-110;
  }

  .prose {
    @apply prose-headings:!mb-3 prose-headings:!text-skin-base 
    prose-p:!text-skin-base 
    prose-a:!text-skin-base prose-a:font-bold hover:prose-a:!decoration-dashed prose-a:underline-offset-4
    hover:prose-a:text-skin-accent prose-blockquote:!border-l-skin-accent
    prose-blockquote:border-opacity-50 prose-blockquote:opacity-100
    prose-figcaption:!text-skin-base prose-figcaption:opacity-90
    prose-strong:!text-skin-base

    
    prose-code:rounded prose-code:bg-skin-card 
    prose-code:bg-opacity-75 prose-code:p-1 
    prose-code:before:!content-none prose-code:after:!content-none
    prose-ol:!text-skin-base 
    prose-ul:overflow-x-clip prose-ul:!text-skin-base prose-li:marker:!text-skin-accent
    prose-table:text-skin-base prose-th:border
    prose-th:border-skin-line prose-td:border 
    prose-td:border-skin-line prose-img:!my-2 
    prose-img:mx-auto prose-img:border-2 prose-img:rounded-xl 
    prose-img:border-skin-line prose-hr:!border-skin-line;
  }
  html[data-theme="dark"] .prose img {
    @apply bg-white;
  }
  .prose a {
    @apply break-words hover:!text-skin-accent;
  }
  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5714286em;
  }
  .prose h2#table-of-contents {
    @apply mb-2;
  }
  .prose details {
    @apply inline-block cursor-pointer select-none text-skin-base;
  }
  .prose summary {
    @apply focus-outline;
  }
  .prose h2#table-of-contents + p {
    @apply hidden;
  }
  .heading-group {
    @apply relative flex whitespace-pre-wrap;
  }
  a.heading-link {
    @apply !no-underline hover:!text-skin-base;
    span {
      @apply absolute opacity-0 translate-x-0 transition-all group-hover:opacity-100 group-hover:translate-x-2 group-focus:opacity-100 group-focus:translate-x-2;
      @apply rounded-md text-skin-accent;
      &:focus {
        @apply transition-none;
      }
    }
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-skin-fill;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-skin-card;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-skin-card-muted;
  }

  code,
  blockquote {
    word-wrap: break-word;
  }

  pre > code {
    white-space: pre;
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }
  .focus-outline {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }
}
