---

---

<div class="flex flex-col-reverse items-center justify-between gap-6">
  <button
    id="back-to-top"
    class="focus-outline app-layout prose whitespace-nowrap py-1 dark:prose-invert hover:opacity-75"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="rotate-90 inline">
      <path
        d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
      ></path>
    </svg>
    <span>Back to Top</span>
  </button>
</div>

<script is:inline>
  /** Scrolls the document to the top when
   * the "Back to Top" button is clicked. */
  function backToTop() {
    document.querySelector("#back-to-top")?.addEventListener("click", () => {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });
  }
  backToTop();
</script>
