---
import BreadcrumbsDymo from "@components/BreadcrumbsDymo";
import { getBreadcrumbItems } from "@utils/breadcrumbItems";

const items = getBreadcrumbItems(Astro.url.pathname);
---

<div>
  <BreadcrumbsDymo items={items} />
</div>
