---
export interface Props {
  tag: string;
  size?: "sm" | "lg";
  urlBase?: "tags" | "tech";
}

const { tag, size = "sm", urlBase = "tags" } = Astro.props;
---

<li
  class={`inline-block ${
    size === "sm" ? "my-1 underline-offset-4" : "my-3 mx-1 underline-offset-8"
  }`}
>
  <a
    href={`/${urlBase}/${tag}/1/`}
    transition:name={tag}
    class={`${size === "sm" ? "text-sm" : "text-lg"} pr-2 group`}
  >
    {tag}
  </a>
</li>

<style>
  a {
    @apply relative underline decoration-dashed hover:text-skin-accent focus-visible:p-1;
  }
</style>
