---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import CollectionCard from "@components/CollectionCard";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"demos">>;
}

const { page } = Astro.props;
---

<Layout
  title={`Demos | ${SITE.title}`}
  activeNav="demos"
  footerNoMarginTop={page.lastPage > 1}
>
  <Main
    pageTitle="Demos"
    pageDesc="UI patterns and animations"
    activeNav="demos"
  >
    <ul class="list-none pl-0">
      {
        page.data.map(({ data, slug }) => (
          <CollectionCard href={`/demos/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination {page} />
  <Footer />
</Layout>
