---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Pagination from "@components/Pagination.astro";
import CollectionCard from "@components/CollectionCard";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"work">>;
}

const { page } = Astro.props;
---

<Layout title={`Work | ${SITE.title}`}>
  <Main pageTitle="Work" pageDesc="My work">
    <ul class="list-none pl-0">
      {
        page.data.map(({ data, slug }) => (
          <CollectionCard href={`/work/${slug}`} frontmatter={data} />
        ))
      }
    </ul>
    <Pagination {page} />
  </Main>
</Layout>
